@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #415A77;
  --hover-color: #778DA9;
  --box-color: #E0E1DD;
}

body {
  background-color: #778DA9;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #E0E1DD;
}
a:hover{
  color: #415A77;
}

#Landing {
  background:linear-gradient(#415a7767, #415a7767), url(assets/pexels-jeshootscom-834892.jpg);
  height: auto;
  background-position: center;
  background-size: cover;
  justify-content: center;
  color: #E0E1DD;
  overflow-x: hidden;
  text-align: center;
 
}

.landing-head {
  font-family: auto;
}

img#tv {
  position: absolute;
  right: 5cqmax;
  top: 29%;
  width: 40%;
}
img#tv-img {
  position: absolute;
  width: 28%;
  top: 36.7%;
  left: 60.9%;
  height: 33.4%;
}

footer {
  background-color: #415A77;
  color: white;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contact :hover{
  color: #778DA9;
}

.footer {
  background-color: #778DA9;
  height: 150px;
  display: table;
  width: 100%;
}

form input {
  width: 100%;
  height: 45px;
  border-radius: 0.25rem;
  border: none;
  padding-left: 10px;
}

form button {
  background-color: #778DA9;
  border: none;
  color: #E0E1DD;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 40px;
}

.fter .row {
  text-align: center;
  display: flex;
  align-items: center;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right:0;
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.fter {
  display: table-cell;
  vertical-align: middle;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.in-contact {
  display: flex;
  flex-wrap: nowrap;
}

.in-contact a,
.in-contact p {
  font-size: 15px;
  padding-left: 20px;
  margin-top: -5px;
}
button:hover {
  color: #778DA9; 
  background-color: #E0E1DD; 
}


.big {
  font-size: 30px;
}

.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15%;
  padding-top: 8px;
  margin-right: 25%;
  font-size: 130%;
}

.socials i:hover {
  color: #415A77;
}


.display-head {
  font-family: auto;
  color: #E0E1DD;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.img-fluid {
  max-width: 50rem;
  height: 11rem;
  margin: 15px;
}
.card-img, .card-img-bottom {
  background-color: #778DA9;
}
.card {
  
  --bs-card-border-color: none;
}
[type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
  border: none;
  background-color: #778DA9;
  color: #E0E1DD;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #415A77;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}



.styled-input label {
  color: #E0E1DD;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #778DA9;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

input[type=checkbox] + label {
color: #ccc;
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #415A77;
font-style: normal;
}

.container2 {
  width: 100%;
  margin-top: 31%;
  margin-left: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 .box {
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container2 .box .title {
  width: 40rem;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}

.container2 .box .title .block {
  width: 0%;
  height: inherit;
  background: #778DA9;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  display: flex;
}

.container2 .box .title h1 {
  font-family: 'Poppins';
  color: #fff;
  font-size: 32px;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
  margin-bottom: 3%;
}

.container2 .box .title h1 span {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #778DA9 !important;
  animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}

.container2 .box .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -10px;
}

.container2 .box .role .block {
  width: 0%;
  height: inherit;
  background: #415A77;
  position: absolute;
  animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 2s;
  display: flex;
}

.container2 .box .role p {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: 'Lato';
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#caption {
  width: 350px;
  height: 80px;
  background: #778DA9;
  position: absolute;
  right: 0;
  bottom: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: top 0.8s forwards;
  animation-delay: 4s;
}

#caption span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #232323;
  font-family: 'Poppins';
}

#caption span i {
  margin-right: 25px;
  font-size: 22px;
  color: #232323;
  animation: icon 2s forwards;
  animation-delay: 4s;
  opacity: 0;
}

@keyframes top {
  0% {
    opacity: 0;
    bottom: -80px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes icon {
  0% {
    opacity: 0;
    transform: scale(0.0);
  }
  50% {
    opacity: 1;
    transform: scale(1.3) rotate(-2deg);
  }
  100% {
    opacity: 1;
  }
}

/* Styling gallery section where all images are */
#gallery{
  padding-bottom: 4%;
}
.gallery {
  width: 90%;
  margin:0 auto;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content:center;
  align-items: center;
}

/* Styling Particular Image */
.gallery-img {
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: transform 0.2s;
}
/* onHover image will expand little bit */
.gallery-img:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}
/* This section will be seen when we click on image */
.image-popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* close button when we want to close the bigger image */
.close-button {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size:60px;
  color: #fff;
  cursor: pointer;
}
.close-button:hover{
  color: #778DA9;
}

/* when we click on the image it will expand in bigger size and will displayed
at middle of screen */
#popupImage {
  display: block;
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Making images more responsive for smaller size device */
@media (max-width:670px) {
  html,
  body {
    overflow-x: hidden;
  }
  .gallery{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .gallery-img{
      width:150px;
      height: 150px;
    }
    
    .heading{
      font-size: 20px;
    }
    #Landing {
      background-size: cover;
      background-position: center;
      min-height: 0;
      display: flex;
      justify-content: center;
      color: #E0E1DD;
      overflow-x: hidden;
    }
    .container2 .box {
      width: 250px;
      height: 250px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .container2 .box .title .block, .container2 .box .role .block { 
      background: none;
    }
    .container2 .box .title h1 {
      font-size: 12px;
      margin-top: 24%;
      margin-left: 10%;
    }
    .container2 .box .role p {
      font-size: 6px;
      margin-top: 47%;
      margin-left: 27%;
    }
    img#tv {
  top: 14%;
  right: -5%;
  width: 52%;
}
img#tv-img {
  top: 16.2%;
  height: 8.9%;
  width: 36%;
}
.socials {
  margin-right: 10%;
}
.socials {
  display: flex;
  align-items: center;
}
p {
  margin-top: 7%;
}
}
  html,
body {
  overflow-x: hidden;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  html,
  body {
  overflow-x: hidden;
}
  }
}
@media only screen and (max-width: 1000px) {

  button {
    margin-top: 10%;
  }
}
@media only screen and (max-width: 1441px) {
img#tv {
  right: 2.5cqmax;
  top: 6.7%;
}
img#tv-img {
  top: 8.4%;
  left: 60.7%;
  height: 7.3%;
}
}



